<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="container">
        <div class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Error 403</h1>
                        <p class="lead">Acceso denegado. No tienes permisos para acceder a esta página.</p>
                        <a href="/" class="btn btn-primary">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html> 