<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">

<head>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<div id="page" layout:fragment="content">
    <div class="container position-relative">
        <img src="/images/admin.jpg" alt="Logo" class="img-fluid w-100">
        <div class="position-absolute" style="top: 5%; left: 5%; transform: translate(-5%, -5%); z-index: 2; background-color: rgba(255, 255, 255, 0.9); padding: 20px; border-radius: 10px;">
            <h1>Hola Admin</h1>
            <p class="lead">Bienvenido al panel de administración.</p>
            <div sec:authorize="isAuthenticated()">
                <p>Usuario autenticado: <span th:text="${profile.get('name')}">Nombre</span></p>
            </div>
        </div>
    </div>
</div>

</html> 